//PADDING
$s: 1%;
$xl: 5%;
$xxl: 15%;
$paddMark: 16% 0 0 5%;
$paddLogo: 11%;
$paddMenu: 8%;
$paddingtitle: 5px 0px;
$paddingP: 50px 70px;

//CURSOR
$pointer: pointer;

//FLEX
$wrap: wrap;
$row: row;

//POSITION
$zero: 0%;
$pMenu: 17%;
$ab: absolute;
$re: relative;

//DISPLAY
$flex: flex;

//MARGIN
$marginLogo: 0px 15px 0px 180px;
$menuP: 20px;
$reseau: 300% 0 0 50%;
$social: 6.5% 0 0 7%;

//FONTS
$dosis: 'Dosis', sans-serif;
$poppins: 'Poppins', sans-serif;
$lobster: 'Lobster', cursive;
$lato: 'Lato', sans-serif;

//FONT SIZE
$sizeXS: 0.7em;
$sizeMenu: 1.1em;
$soU: 1.7em;
$soH1: 1.9em;
$sizeMark: 2.5em;
$size12: 12px;
$size15: 15px;
$size18: 18px;
$size20: 20px;
$size25: 25px;
$size30: 30px;
$size50: 50px;


//FONT STYLE
$bold: bold;
$menu: 500;
$titreInfo: 600;
$light: lighter;

//COLORS
$white: white;
$grey: #42495b;
$greywhite: #f6f7fb;
$greytext:#999999;
$greylight: #7a839e;
$degrade: linear-gradient(to left, #6156f9, #1a129f);
$bleu: #1a129f;
$bleufonce: #1000ff;
$purple: #7e76f9;
$purplelight: rgba(126, 118, 249, 0.15);

//?
$none: none;
$auto: auto;